.title{
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50vw;
  }